* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    background: none;
    font-size: 16px;
    height: 50rem;
    display: flex;
    flex-wrap: wrap;
    margin: 3px;
    flex: 1 1 100vw; 
}

.container-principal {
    width: 100%;
    max-width: auto;
    justify-content: center;
    margin-bottom: 0;
    background-color: white;
    height: 120rem;  
}


#icon-container {
    cursor: pointer;
}

#icon-container:active {
    transform: scale(0.9);
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0;
}

.image-container {
    width: 150px;
    height: 100px;
    overflow: hidden;
    margin: 10px;
    background-color: #dacbcb;
    border-radius: 9px;
    display: flex;
    align-items: center;
    justify-content: center
}

img {
    width: 80%;
    height: auto;
    display: block;
    position: relative;
    z-index: 2;
    background-color: transparent;

}


.containerP {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
}

.containerR {
    display: inline-block;
    margin: 0;
}

.rombo-container1,
.rombo-container2 {
    width: 14rem;
    height: 16rem;
    background-color: #D9C9C9;
    position: relative;
    border-radius: 1.2rem;


}

.rombo-container1 {
    left: 0.5rem;
    top: 3rem;


}

.rombo-container2 {
    border-radius: 1.2rem;
    left: 12rem;
    top: 3rem;
}

.Burg,
.Gela {

    display: block;
    position: relative;
    z-index: 2;
    background-color: transparent;
}

.Burg {
    width: 9rem;
    height: 9rem;
    left: 2.5rem;
    top: -10.9rem;
}


.Gela {
    width: 9rem;
    height: 9rem;
    left: 14.5rem;
    top: -10.9rem;
}

.Textimg,
.Textamg {
    position: relative;
    z-index: 2;
    background-color: transparent;
    font-weight: bold;

}

.Textamg {
    top: -11rem;
    left: 15.7rem;
}

.Textimg {
    top: -11rem;
    left: 2.8rem;

}

.add-icon1,
.add-icon2 {
    position: relative;
    color: #28a745;
    cursor: pointer;
    background-color: transparent;
    font-weight: bold;

}

.add-icon1 {
    top: -14rem;
    left: 12rem;
    font-size: 1.2rem;
}

.add-icon2 {
    top: -14rem;
    left: 23.5rem;
    font-size: 1.2rem;
}

.TextMoney,
.TextMoniy {

    position: relative;
    color: #28a745;
    cursor: pointer;
    background-color: transparent;
    font-weight: bold;


}

.TextMoney {
    top: -11rem;
    left: 1.2rem;
    font-size: 1.2rem;
}

.TextMoniy {
    top: -11rem;
    left: 13rem;
    font-size: 1.2rem;
}

.profile-circle {
    width: 2rem;
    height: 2rem;
    border-radius: 1.5rem;
    overflow: hidden;
    display: inline-block;
    background-color: #c6b1b1;
}

.profile-circle img {
    width: 1.8rem;
    height: 2rem;
    top: -0rem;
    display: block;
}

.Promocional {
    display: inline-block;
    margin: 10px;
    top: -270px;
    position: relative;
}

.Most {
    display: inline-block;
    top: -68rem;
    position: relative;
    left: 1.3rem;
   

}

.section-Link a {
    
    position: relative;
    margin: 0 1.4rem;
    color: #000;
    text-decoration: none;
    font-size: 1.2rem;
    left: 1.6rem;
    top: 4rem;
}

.rombo-Promocional {
    width: 50rem;
    height: 10rem;
    background: linear-gradient(to bottom, #D11770, #8F369A, #644AB5);
    position: relative;
    border-radius: 20px;
    left: 1rem;
    top: -39.5rem;



}

.BatataF {
    width: 10rem;
    height: 7rem;
    display: block;
    z-index: 2;
    background-color: transparent;
    left: 38rem;
    top: -50.9rem;

}

.conteriner_frase {
    z-index: 2;
    position: relative;
    border-radius: 2rem;
    left: 1.8rem;
    top: -55rem;

    background-color: transparent;


}

.Frase1,
.Frase2,
.old,
.textp,
.textt {
    position: relative;
    background-color: transparent;
    z-index: 2;
    font-weight: bold;
}

.Frase1 {
    color: rgb(201, 189, 189);
    font-size: 1rem;
}

.Frase2 {
    color: white;
    font-size: 1.3rem;
}

.old {
    color: rgb(201, 189, 189);
    font-size: 1rem;
}



.textp {
    color: black;
    font-size: 1.2rem;
    left: 1.2rem;
    top: -39.8rem;
}

.textt {

    color: black;
    font-size: 1.2rem;
    left: 1.2rem;
    top: 2rem;

}

/*Estilo Conteiner Home em cima*/

.containerTop {
    display: inline-block;
    margin: 0;
}

.rombo-containerall {
    width: 10.6rem;
    height: 9rem;
    background-color: #8F369A;
    top: 5rem;
    position: relative;
    border-radius: 1em;
    left: 1rem;

}


.All {
    width: 9rem;
    height: 7rem;
    display: block;
    position: relative;
    z-index: 2;
    background-color: transparent;
    left: 1.9rem;
    top: -3rem;

}

.TextAll {

    position: relative;
    background-color: transparent;
    z-index: 2;
    color: black;
    font-weight: bold;
    font-size: 1.2rem;
    left: 6rem;
    top: -2rem;

}

/*  Foto burger segunda foto*/

.rombo-containerBuger {
    width: 10.6rem;
    height: 9rem;
    background-color: #D9C9C9;
    top: -13.8rem;
    position: relative;
    border-radius: 1em;
    left: 13rem;

}


.Hambur {
    width: 9rem;
    height: 7rem;
    display: block;
    position: relative;
    z-index: 2;
    background-color: transparent;
    left: 13.8rem;
    top: -22rem;



}

.TextiHambur {

    position: relative;
    background-color: transparent;
    z-index: 2;
    color: black;
    font-weight: bold;
    font-size: 1.2rem;
    left: 17rem;
    top: -20.8rem;

}



/*  Foto pizza terceira foto*/

.rombo-containerPizza {
    width: 10.6rem;
    height: 9rem;
    background-color: #D9C9C9;
    top: -32.6rem;
    position: relative;
    border-radius: 1em;
    left: 25rem;
}


.Pizza {
    width: 12rem;
    height: 7rem;
    display: block;
    position: relative;
    z-index: 2;
    background-color: transparent;
    left: 23.8rem;
    top: -40.5rem;

}

.TextPizza {

    position: relative;
    background-color: transparent;
    z-index: 2;
    color: black;
    font-weight: bold;
    font-size: 1.2rem;
    left: 28.6rem;
    top: -39.6rem;
}



/*  Foto Gelado quarta foto*/

.rombo-containerGelado {
    width: 10.6rem;
    height: 9rem;
    background-color: #D9C9C9;
    top: -51.4rem;
    position: relative;
    border-radius: 1em;
    left: 37.9rem;

}


.Gelado {
    width: 9rem;
    height: 7rem;
    display: block;
    position: relative;
    z-index: 2;
    background-color: transparent;
    left: 38.8rem;
    top: -59.4rem;

}

.TextGelado {

    position: relative;
    background-color: transparent;
    z-index: 2;
    color: black;
    font-weight: bold;
    font-size: 18px;
    font-size: 1.2rem;
    left: 41.8rem;
    top: -58.3rem;

}

.today {

    position: relative;
    background-color: transparent;
    z-index: 2;
    color: black;
    font-weight: bold;
    font-size: 18px;
    font-size: 1.2rem;
    left: 1.8rem;
    top: 0.8rem;


}


@media only screen and (max-width: 767px) {

    .container-principal {
        width: 100%;
        max-width: auto;
        justify-content: center;
        margin-bottom: 0;
        background-color: white;
    }

    .containerTop {
        display: inline-block;
        margin: 0;
        width: 12rem;
        height: 10rem;
    }

    .rombo-containerall {
        width: 6.5rem;
        height: 6rem;
        top: 2rem;
        position: relative;
        border-radius: 1em;
        left: 1rem;


    }

    .Promocional {
        display: inline-block;
        top: -7rem;
        position: relative;
    }

    .All {
        width: 6rem;
        height: 4.5rem;
        display: block;
        position: relative;
        z-index: 2;
        background-color: transparent;
        left: 1.2rem;
        top: -3.2rem;



    }

    .TextAll {


        color: black;
        font-weight: bold;
        font-size: 1.2rem;
        left: 4rem;
        top: -2.3rem;
        position: relative;

    }


    .rombo-containerPizza {
        width: 6.5rem;
        height: 6rem;
        background-color: #D9C9C9;
        top: -26.3rem;
        position: relative;
        border-radius: 1em;
        left: 15.4rem;


    }


    .Pizza {
        width: 7rem;
        height: 6rem;
        display: block;
        position: relative;
        z-index: 2;
        background-color: transparent;
        left: 15rem;
        top: -32.2rem;



    }

    .TextPizza {

        position: relative;
        color: black;
        font-weight: bold;
        font-size: 1.2rem;
        left: 16.8rem;
        top: -32.3rem;

    }

    .rombo-containerBuger {
        width: 6.5rem;
        height: 6rem;
        background-color: #D9C9C9;
        top: -11.4rem;
        position: relative;
        border-radius: 1em;
        left: 8.2rem;


    }


    .Hambur {
        width: 6rem;
        height: 6rem;
        display: block;
        position: relative;
        z-index: 2;
        background-color: transparent;
        left: 8.5rem;
        top: -17.4rem;
    }

    .TextiHambur {

        position: relative;
        color: black;
        font-weight: bold;
        font-size: 1.2rem;
        left: 10rem;
        top: -17.3rem;

    }

    .rombo-containerGelado {
        width: 6.5rem;
        height: 6rem;
        background-color: #D9C9C9;
        top: -41rem;
        position: relative;
        border-radius: 1em;
        left: 22.8rem;


    }


    .Gelado {
        width: 6rem;
        height: 6rem;
        display: block;
        position: relative;
        z-index: 2;
        background-color: transparent;
        left: 23rem;
        top: -47.4rem;



    }

    .TextGelado {

        position: relative;
        color: black;
        font-weight: bold;
        font-size: 1.2rem;
        left: 24rem;
        top: -47.4rem;

    }

    .rombo-Promocional {
        width: 27.8rem;
        height: 10rem;
        position: relative;
        border-radius: 20px;


    }

    .BatataF {
        width: 10rem;
        height: 7rem;
        display: block;
        z-index: 2;
        background-color: transparent;
        left: 18.8rem;
        top: -50.6rem;

    }

    .Most {
        display: inline-block;
        top: -60.9rem;
        position: relative;
        left: 1.3rem;

    }

    .rombo-container1,
    .rombo-container2 {
        width: 12rem;
        height: 16rem;
        background-color: #D9C9C9;
        position: relative;
        border-radius: 1.2rem;


    }

    .rombo-container1 {
        left: 0.5rem;
        top: 3rem;


    }

    .rombo-container2 {
        border-radius: 1.2rem;
        left: 3.5rem;
        top: 3rem;


    }

    .Textimg,
    .Textamg {
        position: relative;
        z-index: 2;
        background-color: transparent;
        font-weight: bold;

    }

    .Textamg {
        top: -11rem;
        left: 7.7rem;
    }





    .add-icon1 {
        top: -14rem;
        left: 10rem;
        font-size: 1.2rem;
    }

    .add-icon2 {
        top: -14rem;
        left: 13.5rem;
        font-size: 1.2rem;
    }



    .TextMoniy {
        top: -11rem;
        left: 4.5rem;
        font-size: 1.2rem;
    }

    .Gela {

        width: 9rem;
        height: 9rem;
        left: 5rem;
        top: -10.9rem;


    }

    .section-Link a {
        display: inline-block;
        position: relative;
        margin: 0 1.4rem;
        color: #000;
        text-decoration: none;
        font-size: 1.2rem;
        left: 1.6rem;
        top: -22rem;

    }



}

/* Consulta de mídia para dispositivos com uma largura mínima de 768px e máxima de 991px (tablets típicos) */
@media only screen and (max-width: 1199px) and (min-width: 768px) {

    .containerTop {
        display: inline-block;
        /* Isso faz com que os blocos fiquem em linha */
        margin: 0;
        /* Ajuste conforme necessário para o espaçamento desejado */
        width: 20rem;
        height: 10rem;
    }

    .rombo-containerall {
        width: 6.5rem;
        /* Largura do rombo (ajuste conforme necessário) */
        height: 6rem;
        /* Altura do rombo (ajuste conforme necessário) */
        /* Cor de fundo do rombo (ajuste conforme necessário) */
        top: 2rem;
        position: relative;
        border-radius: 1em;
        left: 1rem;
        justify-content: center;


    }

    .Promocional {
        display: inline-block;
        /* Isso faz com que os blocos fiquem em linha */
        top: -7rem;
        position: relative;
    }

  

    

    .All {
        width: 6rem;
        /* Ajusta a largura da imagem para ocupar 100% do contêiner pai */
        height: 4.5rem;
        /* Mantém a proporção original da imagem */
        display: block;
        /* Remove qualquer espaçamento indesejado abaixo da imagem */
        position: relative;
        /* Necessário para controlar a posição da imagem */
        z-index: 2;
        /* Z-index maior para que a imagem apareça acima do rombo */
        background-color: transparent;
        left: 1.2rem;
        top: -3.2rem;



    }

    .TextAll {


        color: black;
        font-weight: bold;
        font-size: 1.2rem;
        left: 4rem;
        top: -2.3rem;
        position: relative;

    }


    .rombo-containerPizza {
        width: 6.5rem;
        /* Largura do rombo (ajuste conforme necessário) */
        height: 6rem;
        /* Altura do rombo (ajuste conforme necessário) */
        background-color: #D9C9C9;
        ;
        /* Cor de fundo do rombo (ajuste conforme necessário) */
        top: -26.3rem;
        position: relative;
        border-radius: 1em;
        left: 15.4rem;


    }


    .Pizza {
        width: 7rem;
        /* Ajusta a largura da imagem para ocupar 100% do contêiner pai */
        height: 6rem;
        /* Mantém a proporção original da imagem */
        display: block;
        /* Remove qualquer espaçamento indesejado abaixo da imagem */
        position: relative;
        /* Necessário para controlar a posição da imagem */
        z-index: 2;
        /* Z-index maior para que a imagem apareça acima do rombo */
        background-color: transparent;
        left: 15rem;
        top: -32.2rem;



    }

    .TextPizza {

        position: relative;
        color: black;
        font-weight: bold;
        font-size: 1.2rem;
        left: 16.8rem;
        top: -32.3rem;

    }

    .rombo-containerBuger {
        width: 6.5rem;
        /* Largura do rombo (ajuste conforme necessário) */
        height: 6rem;
        /* Altura do rombo (ajuste conforme necessário) */
        background-color: #D9C9C9;
        ;
        /* Cor de fundo do rombo (ajuste conforme necessário) */
        top: -11.4rem;
        position: relative;
        border-radius: 1em;
        left: 8.2rem;


    }


    .Hambur {
        width: 6rem;
        /* Ajusta a largura da imagem para ocupar 100% do contêiner pai */
        height: 6rem;
        /* Mantém a proporção original da imagem */
        display: block;
        /* Remove qualquer espaçamento indesejado abaixo da imagem */
        position: relative;
        /* Necessário para controlar a posição da imagem */
        z-index: 2;
        /* Z-index maior para que a imagem apareça acima do rombo */
        background-color: transparent;
        left: 8.5rem;
        top: -17.4rem;



    }

    .TextiHambur {

        position: relative;
        color: black;
        font-weight: bold;
        font-size: 1.2rem;
        left: 10rem;
        top: -17.3rem;

    }

    .rombo-containerGelado {
        width: 6.5rem;
        /* Largura do rombo (ajuste conforme necessário) */
        height: 6rem;
        /* Altura do rombo (ajuste conforme necessário) */
        background-color: #D9C9C9;
        ;
        /* Cor de fundo do rombo (ajuste conforme necessário) */
        top: -41rem;
        position: relative;
        border-radius: 1em;
        left: 22.8rem;


    }


    .Gelado {
        width: 6rem;
        /* Ajusta a largura da imagem para ocupar 100% do contêiner pai */
        height: 6rem;
        /* Mantém a proporção original da imagem */
        display: block;
        /* Remove qualquer espaçamento indesejado abaixo da imagem */
        position: relative;
        /* Necessário para controlar a posição da imagem */
        z-index: 2;
        /* Z-index maior para que a imagem apareça acima do rombo */
        background-color: transparent;
        left: 23rem;
        top: -47.4rem;



    }

    .TextGelado {

        position: relative;
        color: black;
        font-weight: bold;
        font-size: 1.2rem;
        left: 24rem;
        top: -47.4rem;

    }


}




/* Consulta de mídia para dispositivos com uma largura mínima de 992px (desktops típicos) */
@media only screen and (min-width: 1200px) {

    .containerTop {
        display: inline-block;
        /* Isso faz com que os blocos fiquem em linha */
        margin: 0;
        /* Ajuste conforme necessário para o espaçamento desejado */
        width: 30rem;
        height: 20rem;
    }

    .rombo-containerall {
        width: 16rem;
        /* Largura do rombo (ajuste conforme necessário) */
        height: 14rem;
        /* Altura do rombo (ajuste conforme necessário) */
        /* Cor de fundo do rombo (ajuste conforme necessário) */
        top: 4.5rem;
        position: relative;
        border-radius: 1em;
        left: 1rem;


    }

    .Promocional {
        display: inline-block;
        /* Isso faz com que os blocos fiquem em linha */
        top: -53rem;
        position: relative;
    }

    .rombo-Promocional {
        width: 78rem;
        /* Largura do rombo (ajuste conforme necessário) */
        height: 12rem;
        /* Altura do rombo (ajuste conforme necessário) */
        background: linear-gradient(to bottom, #D11770, #8F369A, #644AB5);
        /* Cor de fundo do rombo (ajuste conforme necessário) */
        /* Espaço entre o rombo e a imagem (ajuste conforme necessário) */
        /* Move para a direita */
        position: relative;
        border-radius: 20px;
        left: 1rem;
        top: -30.5rem;

    }

    .conteriner_frase {
        z-index: 2;
        position: relative;
        border-radius: 2rem;
        left: 1.8rem;
        top: -48.8rem;
    
        background-color: transparent;
    
    
    }

    .All {
        width: 14rem;
        /* Ajusta a largura da imagem para ocupar 100% do contêiner pai */
        height: 10rem;
        /* Mantém a proporção original da imagem */
        display: block;
        /* Remove qualquer espaçamento indesejado abaixo da imagem */
        position: relative;
        /* Necessário para controlar a posição da imagem */
        z-index: 2;
        /* Z-index maior para que a imagem apareça acima do rombo */
        background-color: transparent;
        left: 1.8rem;
        top: -7.8rem;



    }

    .TextAll {


        color: black;
        font-weight: bold;
        font-size: 1.2rem;
        left: 8rem;
        top: -5.3rem;
        position: relative;
       

    }


    .rombo-containerPizza {
        width: 16rem;
        height: 14rem;
        /* Altura do rombo (ajuste conforme necessário) */
        background-color: #D9C9C9;
        ;
        /* Cor de fundo do rombo (ajuste conforme necessário) */
        top: -49.2rem;
        position: relative;
        border-radius: 1em;
        left: 40.2rem;


    }


    .Pizza {
        width: 15rem;
        /* Ajusta a largura da imagem para ocupar 100% do contêiner pai */
        height: 10rem;
        /* Mantém a proporção original da imagem */
        display: block;
        z-index: 2;
        /* Z-index maior para que a imagem apareça acima do rombo */
        background-color: transparent;
        left: 40rem;
        top: -61rem;



    }

    .TextPizza {

        color: black;
        font-weight: bold;
        font-size: 1.2rem;
        left: 46rem;
        top: -59rem;
        position: relative;

    }

    .rombo-containerBuger {
        width: 16rem;
        height: 14rem;
        background-color: #D9C9C9;
        ;
        /* Cor de fundo do rombo (ajuste conforme necessário) */
        top: -22.4rem;
        position: relative;
        border-radius: 1em;
        left: 20rem;


    }


    .Hambur {
        width: 14rem;
        /* Ajusta a largura da imagem para ocupar 100% do contêiner pai */
        height: 10rem;
        /* Mantém a proporção original da imagem */
        display: block;
        z-index: 2;
        /* Z-index maior para que a imagem apareça acima do rombo */
        background-color: transparent;
        left: 20.8rem;
        top: -34.4rem;



    }

    .TextiHambur {

        color: black;
        font-weight: bold;
        font-size: 1.2rem;
        left: 26rem;
        top: -32rem;
        position: relative;

    }

    .rombo-containerGelado {
        width: 16rem;
        height: 14rem;
        /* Altura do rombo (ajuste conforme necessário) */
        background-color: #D9C9C9;
        ;
        /* Cor de fundo do rombo (ajuste conforme necessário) */
        top: -76rem;
        position: relative;
        border-radius: 1em;
        left: 61rem;


    }


    .Gelado {
        width: 14rem;
        /* Ajusta a largura da imagem para ocupar 100% do contêiner pai */
        height: 10rem;
        /* Mantém a proporção original da imagem */
        display: block;
        /* Remove qualquer espaçamento indesejado abaixo da imagem */
        position: relative;
        /* Necessário para controlar a posição da imagem */
        z-index: 2;
        /* Z-index maior para que a imagem apareça acima do rombo */
        background-color: transparent;
        left: 62.3rem;
        top: -87.8rem;



    }

    .TextGelado {

        color: black;
        font-weight: bold;
        font-size: 1.2rem;
        left: 68rem;
        top: -85.8rem;
        position: relative;

    }

    .BatataF {
        width: 15rem;
        height: 8rem;
        display: block;
        z-index: 2;
        background-color: transparent;
        left: 64rem;
        top: -43.9rem;
    
    }

    .textp {
        color: black;
        font-size: 1.2rem;
        left: 1.2rem;
        top: -30rem;
    }

    .Most {
        display: inline-block;
        top: -98rem;
        position: relative;
        left: 1.3rem;
    
    }

    .rombo-container1 {
        left: 0.5rem;
        top: 3rem;
    
    
    }
    
    .rombo-container2 {
        border-radius: 1.2rem;
        left: 42rem;
        top: 3rem;
    
    
    }

    .Burg {
        width: 9rem;
        height: 9rem;
        left: 2.5rem;
        top: -10.9rem;
    }
    
    
    .Gela {
    
        width: 9rem;
        height: 9rem;
        left:44.5rem;
        top: -10.9rem;
    
    
    }
    
    
    .Textamg {
        top: -11rem;
        left: 46.7rem;
    }
    
    .Textimg {
        top: -11rem;
        left: 2.8rem;
    
    }
    
 
    
    .add-icon1 {
        top: -14rem;
        left: 12rem;
        font-size: 1.2rem;
    }
    
    .add-icon2 {
        top: -14rem;
        left: 53.5rem;
        font-size: 1.2rem;
    }
    
    .TextMoney,
    .TextMoniy {
    
        position: relative;
        color: #28a745;
        /* Cor verde */
        cursor: pointer;
        background-color: transparent;
        font-weight: bold;
    
    
    }
    
    .TextMoney {
        top: -11rem;
        left: 1.2rem;
        font-size: 1.2rem;
    }
    
    .TextMoniy {
        top: -11rem;
        left: 43rem;
        font-size: 1.2rem;
    } 

    .section-Link a {
        display: inline-block;
        position: relative;
        margin: 0 1.4rem;
        color: #000;
        text-decoration: none;
        font-size: 1.2rem;
        left: 1.6rem;
        top: -7rem;
    
    }




}