body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to bottom, #D11770, #8F369A, #644AB5);
    /*background-image: url('./Img/Caroucell/back3.jfif'); /* Substitua pelo caminho da sua imagem */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}




.container {
    position: relative;
    width: 250px; /* Ajuste conforme necessário */
    height: 200px; /* Ajuste conforme necessário */
}

@keyframes rotateAnimation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.rombo-container {
    position: absolute;
    top: 30px;
    left: 30px;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, rgba(197, 116, 159, 0.5) 0%, rgba(140, 129, 140, 0.5) 100%);
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    animation: rotateAnimation 5s linear infinite; /* 5s de duração, linear, repetição infinita */
}

img {
    position: absolute;
    top: 28px;
    left: 33px;
    width: 100%;
    height: 100%;
    object-fit: contain; 
    z-index: 1; /* Coloca a imagem acima do rombo */
}

.separador {
    border-radius: 50px 0 0 9px;
    height: 1000px; /* Ajuste a altura conforme necessário */
    background-color: #edf1f4; /* Cor do separador */
    margin-top: 170px; /* Margem superior */
    margin-bottom: 20px; /* Margem inferior */
    /* Adicione outros estilos conforme necessário */
    position: fixed;
    width: 100vw;
    text-align: center; /* Centraliza o conteúdo dentro do separador */
     margin-top: 60px; /* Ajuste a margem superior conforme necessário */
    }

    

    .image-container {
        display: flex; /* Torna o container de imagem um flex container */
        justify-content: space-between; /* Alinha as imagens nas extremidades */
        margin: 20px 0; /* Adiciona margem vertical entre as imagens e outros elementos */
    }

    .image-box {
        position: relative; /* Permite posicionar a descrição absolutamente dentro do quadrado */
        width: 150px; /* Largura do quadrado */
        height: 150px; /* Altura do quadrado */
        overflow: hidden; /* Oculta qualquer conteúdo que ultrapasse as dimensões do quadrado */
    }

    .image-box img {
        width: 100%; /* Garante que a imagem ocupa 100% da largura do quadrado */
        height: auto; /* Mantém a proporção da imagem */
    }

    .image-description {
        position: absolute; /* Posiciona a descrição absolutamente dentro do quadrado */
        bottom: 0; /* Alinha a descrição na parte inferior do quadrado */
        left: 0; /* Alinha a descrição à esquerda do quadrado */
        width: 100%; /* Garante que a descrição ocupe toda a largura do quadrado */
        background-color: rgba(255, 255, 255, 0.8); /* Cor de fundo da descrição com transparência */
        padding: 8px; /* Espaçamento interno da descrição */
        text-align: center; /* Centraliza o texto na descrição */
    }


.button-container {
    display: inline-block; /* Permite que o container se ajuste ao tamanho do conteúdo */
    margin-top: 10px;
    
}

.white-button {
    /* Estilos para o botão (ajuste conforme necessário) */
    padding: 10px 20px;
    font-size: 16px;
    background-color: #CC1A74;
    color: rgb(224, 232, 237);
    border: 1px solid #CC1A74;
    cursor: pointer;
    border-radius: 45px; /* Arredondar canto superior esquerdo */
    width: 300px;
}

button:hover {
    background-color: #a891a4;
}





.image-container {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    color: #644AB5;

}

.image-box {
    width: 120px;
    height: 100px;
    overflow: hidden;
    border-radius: 10px;
    margin-right: 20px; /* Adiciona margem entre as imagens */
    background-color: rgba(142, 110, 110, 0.5); /* Cor branca com 50% de transparência */
    
    
}


.image-box:nth-child(1) {
    top:10px; /* Ajuste a posição vertical conforme necessário */
    left: 30px; /* Ajuste a posição horizontal conforme necessário */
}

.image-box:nth-child(2) {
    top: 10px; /* Ajuste a posição vertical conforme necessário */
    left: 30px; /* Ajuste a posição horizontal conforme necessário */
}

.image-box:nth-child(3) {
    top: 10px; /* Ajuste a posição vertical conforme necessário */
    left: 20px; /* Ajuste a posição horizontal conforme necessário */
}

    


.image-box img {
    width: 150px; /* Ajuste o tamanho desejado */
    height: 150px; /* Ajuste o tamanho desejado */
    border-radius: 10px;
    object-position: 100% 10%;
    top: -1px;
    left: -20px;
}

.add-icon {
    position: relative;
    top: 80px;
    right: 0;
    left: 50px;
    color: #28a745; /* Cor verde */
    font-size: 15px;
    cursor: pointer;
    bottom: 56px;
}


.Texto {
    font-family: Arial, sans-serif; /* Escolha uma fonte que desejar */
    color: #333; /* Cor do texto padrão */
    margin-top: 140px;
    
    
    

}

.titulo {
    color: #ff4500; /* Cor específica para o título */
    font-size: 24px; /* Tamanho da fonte para o título */
    font-weight: bold; /* Negrito para o título, se necessário */
    margin-bottom: 60px; /* Espaço abaixo do título */
    margin-top: 66px;
    margin-left: -200px;
  
    
}

.i {
    margin-left: 50px; /* Ajustar a margem esquerda do ícone */
}

.Texto p:not(.titulo) {
    margin-top: 5px; /* Espaço acima do segundo e terceiro parágrafo */
    margin-bottom: 10px; /* Espaço abaixo do segundo e terceiro parágrafo */
    margin-left: -100px;
}

.Texto p {
    margin-top: 50px; /* Espaço acima de cada parágrafo */
    margin-bottom: -10px; /* Espaço abaixo de cada parágrafo */
    
}

.old{

  margin-bottom: 20px;
}





