body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to bottom, #D11770, #8F369A, #644AB5);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}


.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.container {
    position: relative;
    top: 29%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    /* Cor de fundo branca */
    border-radius: 50%;
    width: 400px;
    /* Largura maior que a imagem para criar espaço ao redor */
    height: 900px;
    /* Altura maior que a imagem para criar espaço ao redor */
    display: flex;
    align-items: center;
    justify-content: center;
}

.BoasVindas {
    top: 75%;
    left: 40%;
    transform: translate(-50%, -20%);

}

.cor-comum {
    position: relative;
    color: #540d0d;
    top: -3.7rem;
    left: 11rem;
}

.cor-comum2 {
    position: relative;
    color: #540d0d;
    top: -5.8rem;
    left: 7rem;
}

.BoasVindas, .destaque, .destaque2, .cor-comum, .destaque3 {
    position: relative;
    font-weight: bold;
    font-size: 1.5rem;
}

.destaque{
    color: #ffffff;
    top: 0.7rem;
    left: -1rem;
}

.destaque2{
  
    color: #ffffff;
    top: -1.5rem;
    left: 3rem;
}

.destaque3{
   
    color: #ffffff;
    top: -3.5rem;
    left: -1rem;
}



header {
    background: #3498db;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    color: #ffffff;
    margin: 0;
}



.ellipse-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.Imagem-Principal {
    width: 100vw;
    height: 00vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.Principal-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.ellipse-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}


.button-container {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    margin-top: -90px;
    bottom: 50px;
    border: 100px;

}




.white-button {
    background-color: #ffffff;
    /* Cor de fundo do botão (branco) */
    color: #000000;
    /* Cor do texto do botão (preto) */
    padding: 8px 18px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 45px;
    width: 200px;
    transition: background-color 0.3s ease-in-out;
    font-weight: bold;

}

.white-button:hover {
    background-color: #cccccc;
    /* Cor de fundo do botão ao passar o mouse (cinza claro) */
}

.ellipse-container {
    position: relative;
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.principal-image {
    position: absolute;
    top: 29%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    width: 370px;
    height: 370px;
    object-fit: cover;
    /* para manter a proporção da imagem */
}


@media only screen and (min-width: 420px) {

    .Conteiner {
        font-size: 14px;
        width: 100%;
       
    }

    .principal-image {

        max-width: 90%;
        width: 14rem;
        height: 14rem;


    }
    .BoasVindas {
        position: relative;
        top: 12rem;
        left: 13rem;
        
    }


    .ellipse-image {
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        object-fit: cover;
    }

    .ellipse-container {
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }

    /* Você pode substituir ou adicionar estilos específicos para telas menores */
}



/* Consulta de mídia para dispositivos com uma largura máxima de 767px (smartphones típicos) */
@media only screen and (max-width: 767px) {

    .Conteiner {
        font-size: 14px;
    }

    .principal-image {

        max-width: 90%;


    }

    /* Você pode substituir ou adicionar estilos específicos para telas menores */
}


@media only screen and (max-width: 1199px) and (min-width: 768px) {

    .Conteiner {
        max-width: 90%;
    }

    .principal-image {
        max-width: 75%;
        justify-content: center;

    }

    .ellipse-container {

        max-width: 100%;
        margin: 0 auto;
        left: 5%;

    }

    /* Você pode substituir ou adicionar estilos específicos para telas de tamanho médio */
}




/* Consulta de mídia para dispositivos com uma largura mínima de 992px (desktops típicos) */
@media only screen and (min-width: 1200px) {

    .Conteiner {
        max-width: 1200px;
    }

    .principal-image {
        max-width: 100%;
        width: 24rem;
        height: 24rem;
        justify-content: center;
        margin: 0 auto;
        display: block;
        left: 50%;
    }

    .ellipse-container {

        max-width: 100%;
        margin: 0 auto;
        left: 15%;

    }

    .ellipse-image {
        width: 8rem;
        height: 8rem;
        border-radius: 50%;
        object-fit: cover;
    }
    .button-container {
        position: relative;
        left: -23rem;
        transform: translateX(-50%);
        text-align: left;
        margin-top: 40rem;
        bottom: 50px;
        border: 100px;
    }

    .BoasVindas {
        top: 10rem;
        left: 33rem;
        transform: translate(-20%, -0%);
    
    }
    
   
    
    
    

}


